@import './variables.scss';

.marker {

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar {
    background-color: transparent;

    /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
    &:horizontal {
      height: 8px;
    }

    /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
    &:vertical {
      width: 8px;
    }
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #bbb;

    .marker--dark & {
      background-color: #666;
    }
  }

  :focus {
    outline: none;
  }

  input[type=checkbox] {
    outline: #349be8 auto 5px;
  }

  .table-wrapper {
    max-width: 100%;
    overflow: auto;
  }

  button,
  input,
  select,
  textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  .text-input {
    display: block;
    font-variant-ligatures: no-common-ligatures;
    width: 100%;
    height: 36px;
    padding: 3px 12px;
    font-size: inherit;
    line-height: 1.5;
    color: inherit;
    background-color: #fff;
    background-image: none;
    border: 0;
    border-radius: $border-radius-base;
  }

  .button {
    background-color: transparent;
    display: inline-block;
    font-size: 21px;
    font-weight: 400;
    line-height: 1.4;
    text-transform: uppercase;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 0;
    border-radius: $border-radius-base;
    text-decoration: none;

    &:active,
    &:focus,
    &:hover,
    .hidden-file:focus + & {
      outline: 0;
      text-decoration: none;
    }

    .marker--dark .marker__panel--editor &,
    .marker--dark .marker__panel--preview & {
      color: #ccc;

      &:active,
      &:focus,
      &:hover {
        color: #ccc;
        background-color: rgba(255, 255, 255, 0.067);
      }
    }

    &[disabled] {
      &,
      &:active,
      &:focus,
      &:hover {
        opacity: 0.33;
        background-color: transparent;
        cursor: not-allowed;
      }
    }
  }

  .button--resolve {
    background-color: #349be8;
    color: #fff;
    margin: -2px 0 -2px 4px;
    padding: 10px 20px;
    font-size: 18px;

    &:active,
    &:focus,
    &:hover {
      color: #fff;
      background-color: darken(#349be8, 8%);
    }
  }

  .textfield {
    background-color: #fff;
    border: 0;
    font-family: inherit;
    font-weight: 400;
    font-size: 1.05em;
    padding: 0 0.6rem;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    color: inherit;
    height: 2.4rem;

    &:focus {
      outline: none;
    }

    &[disabled] {
      cursor: not-allowed;
      background-color: #f0f0f0;
      color: #999;
    }
  }

  .flex {
    display: flex;
  }

  .flex--row {
    flex-direction: row;
  }

  .flex--column {
    flex-direction: column;
  }

  .flex--center {
    justify-content: center;
  }

  .flex--end {
    justify-content: flex-end;
  }

  .flex--space-between {
    justify-content: space-between;
  }

  .flex--align-center {
    align-items: center;
  }

  .flex--align-end {
    align-items: flex-end;
  }
}
