
@mixin createTheme($settings) {
  .marker--#{map_get($settings, 'name')} {
    border-width: map_get($settings, 'frame-border-width');
    border-color: map_get($settings, 'frame-border-color');
    border-style: map_get($settings, 'frame-border-style');
    border-radius: map_get($settings, 'frame-border-radius');

    .marker__panel--toolbar {
      background-color: map_get($settings, 'toolbar-bg');
    }

    .toolbar__button {
      color: map_get($settings, 'toolbar-button-color');

      &:active,
      &:focus,
      &:hover {
        color: map_get($settings, 'toolbar-button-hover-color');
        background-color: map_get($settings, 'toolbar-button-hover-bg');
      }
    }

    .marker__panel--editor,
    .marker__panel--preview {
      color: map_get($settings, 'editor-preview-color');
    }

    .marker__panel--editor {
      background-color: map_get($settings, 'editor-bg');
    }

    .marker__panel--preview,
    .marker__panel--button-bar {
      background-color: map_get($settings, 'preview-bg');
    }

    .preview__corner::before {
      border-top-color: map_get($settings, 'preview-corner-bg');
    }


    .preview__button {
      color: map_get($settings, 'button-bar-button-color');

      &:active,
      &:focus,
      &:hover {
        color: map_get($settings, 'button-bar-button-hover-color');
      }
    }

    .button-bar__button {
      color: map_get($settings, 'button-bar-button-color');

      &:active,
      &:focus,
      &:hover {
        color: map_get($settings, 'button-bar-button-hover-color');
        background-color: map_get($settings, 'button-bar-button-hover-bg');
      }
    }

    .marker__panel--editor blockquote ,
    .marker__panel--preview blockquote {
      color: map_get($settings, 'blockquote-color');
      border-left-color: map_get($settings, 'blockquote-border-left-color');
    }

    .marker-markdown {
      color: map_get($settings, 'markdown-color');
      caret-color: map_get($settings, 'markdown-caret-color');
    }
  }
}
