$font-family-main: Lato, 'Helvetica Neue', Helvetica, sans-serif;
$font-family-monospace: 'Roboto Mono', 'Lucida Sans Typewriter', 'Lucida Console', monaco, Courrier, monospace;

$body-color: rgba(0, 0, 0, 0.75);
$code-bg: rgba(0, 0, 0, 0.05);
$line-height-base: 1.67;
$line-height-title: 1.33;
$font-size-monospace: 0.85em;
$highlighting-color: #ff0;
$selection-highlighting-color: #ff9632;
$info-bg: transparentize($selection-highlighting-color, 0.85);
$code-border-radius: 3px;
$link-color: #0c93e4;
$error-color: #f31;
$border-radius-base: 3px;
$hr-color: rgba(128, 128, 128, 0.33);
$editor-font-weight-base: 400;
$editor-font-weight-bold: 600;

$toolbar-height: 50px;
$toolbar-bg: #2c2c2c;
$toolbar-button-color: mix($toolbar-bg, #fff, 33%);
$toolbar-button-hover-color: #fff;
$toolbar-button-hover-bg: rgba(255, 255, 255, 0.1);

$editor-bg: #fff;

$editor-color-light: rgba(0, 0, 0, 0.8);
$editor-color-light-low: #000;
$editor-color-light-high: rgba(0, 0, 0, 0.28);
$editor-color-light-blockquote: rgba(0, 0, 0, 0.48);

$editor-color-dark: rgba(255, 255, 255, 0.8);
$editor-color-dark-low: #fff;
$editor-color-dark-high: rgba(255, 255, 255, 0.28);
$editor-color-dark-blockquote: rgba(255, 255, 255, 0.48);

$button-bar-width: 26px;
$button-bar-button-color: rgba(0, 0, 0, 0.6);
$button-bar-button-hover-color: rgba(0, 0, 0, 0.7);
$button-bar-button-hover-bg: #e1e1e1;
$editor-preview-width: calc((100% - #{$button-bar-width}) / 2);

$preview-bg: #f3f3f3;

$status-bar-height: 20px;
$status-bar-color: #545454;
$status-bar-bg: #c8c8c8;

$find-replace-bg: #e6e6e6;
$find-replace-button-bg: #a7a7a7;

$toc-bg: #eee;
