<template>
  <div class="app">
    <div class="container">
      <h2 class="title">Marker</h2>
      <div class="desc">
        <p>
          <strong>Marker</strong> is a <strong>WYSIWYG</strong> markdown editor made by vuejs.
        </p>
        <p>
          <a href="https://marker-docs.lemonbot.fun">Documentation</a>
        </p>
      </div>
      <div class="instance-wrap">
        <p class="theme-control">
          <span> Themes: </span>
          <button v-for="(item, index) in themes" :key="index"
                  :class="{active: selectedThemeIndex === index}"
                  @click="changeTheme(item, index)" >
            {{ item }}
          </button>
        </p>
        <component :is="componentId" :content="content" :settings="editorSettings"/>
      </div>
      <footer>
        Copyright © 2019 (Jason Chang) Inspire by <a href="https://stackedit.io/">StackEdit</a>
      </footer>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch } from 'vue-property-decorator';
const content = require('./default.md').default;

@Component({})
export default class App extends Vue {
  componentId = process.env.VUE_APP_COMPONENT_ID;
  content = content;
  selectedThemeIndex = 0;
  themes = ['default', 'light', 'dark'];

  editorSettings = {
    theme: 'default',
  };

  changeTheme(theme: string, index: number) {
    this.selectedThemeIndex = index;
    this.editorSettings.theme = theme;
  }
}
</script>

<style lang="scss" scoped>
  strong {
    font-weight: 600;
  }

  .app {
    overflow: hidden;
    padding-top: 20px;
    min-height: 900px;
  }

  .app .container > * {
    margin: 80px 20px;
    text-align: center;
  }

  .title {
    text-align: center;
    font-size: 3em;
  }

  .desc {
    font-size: 1.5em;
    font-weight: 300;
    text-align: center;
  }

  .instance-wrap {
    height: 780px;
    overflow: hidden;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .instance-wrap .marker {
    height: auto;
    flex-grow: 1;
    border-radius: 7px;
  }

  .theme-control {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    max-height: 80px;
    min-width: 80px;
    margin-bottom: 40px;

    button {
      background: white;
      border: 1px solid #9c9c9c;
      border-radius: 7px;
      font-size: 18px;
      padding: 10px 20px;
      margin-left: 15px;

      &.active {
        color: white;
        background: black;
      }

      &:focus,
      &:active {
        outline: none;
        box-shadow: 0 0 0 3px #CCCCCC;
      }
    }
  }

  footer {
    font-size: 0.9em;
    margin-top: 50px;
  }

  .container {
    width: 1350px;
    margin: 0 auto;
  }

  @media (max-width: 1400px) {
    .container {
      width: 100%
    }
  }
</style>
