<template>
  <div class="button-bar">
    <div class="button-bar__inner button-bar__inner--top">
      <button class="button button-bar__button" v-if="!light" @click="toggleToolbar" v-title="'Toggle toolbar'">
        <i class="marker-font icon-show-toolbar"></i>
      </button>
      <button class="button button-bar__button" :disabled="onlyEditor" @click="toggleOnlyEditor" v-title="'Editer mode'">
        <i class="marker-font icon-edit"></i>
      </button>
      <button class="button button-bar__button" :disabled="!onlyEditor && !onlyPreview" @click="toggleOnlyEditor" v-title="'Side preview'">
        <i class="marker-font icon-side-mode"></i>
      </button>
      <button class="button button-bar__button" :disabled="onlyPreview" @click="toggleOnlyPreview" v-title="'Reader mode'">
        <i class="marker-font icon-preview"></i>
      </button>
    </div>
    <div class="button-bar__inner button-bar__inner--bottom">
      <button class="button button-bar__button" :class="{ 'button-bar__button--on': scrollSync }" @click="toggleScrollSync" v-title="'Toggle scroll sync'">
        <i class="marker-font icon-scroll-sync"></i>
      </button>
      <button class="button button-bar__button" :class="{ 'button-bar__button--on': showStatusBar }" @click="toggleStatusBar" v-title="'Toggle status bar'">
        <i class="marker-font icon-show-shatus-bar"></i>
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch, Mixins } from 'vue-property-decorator';
import { mapState, mapGetters, mapActions } from 'vuex';

import { MarkerMixins } from '@/libs/mixins';
import { createToggler } from '@/store/modules/Layout';

@Component({
  computed: {
    ...mapState([
      'light',
    ]),
    ...mapState('Layout', [
      'showToolbar',
      'showPreview',
      'showStatusBar',
      'onlyEditor',
      'onlyPreview',
      'scrollSync',
    ]),
  },
  methods: {
    toggleToolbar: createToggler<ButtonBar>('showToolbar'),
    toggleEditor: createToggler<ButtonBar>('showEditor'),
    toggleOnlyPreview: createToggler<ButtonBar>('onlyPreview'),
    toggleOnlyEditor: createToggler<ButtonBar>('onlyEditor'),
    togglePreview: createToggler<ButtonBar>('showPreview'),
    toggleStatusBar: createToggler<ButtonBar>('showStatusBar'),
    toggleScrollSync: createToggler<ButtonBar>('scrollSync'),
  },
})
export default class ButtonBar extends Mixins(MarkerMixins) {}
</script>

<style lang="scss">
@import '../styles/variables.scss';

.button-bar {
  position: absolute;
  width: 100%;
  height: 100%;
}

.button-bar__inner {
  position: absolute;
}

.button-bar__inner--bottom {
  bottom: 0;
}

.marker .button-bar__button {
  color: $button-bar-button-color;
  display: block;
  width: 26px;
  height: 26px;
  padding: 0;
  margin: 3px 0;

  &:active,
  &:focus,
  &:hover {
    color: rgba(0, 0, 0, 0.7);
    background-color: $button-bar-button-hover-bg;
  }
}
</style>
