<template>
  <div class="editor">
    <pre class="marker-markdown editor__container" ref="editorEle" :class="{monospaced: userSettings.editor.monospacedFontOnly}"></pre>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch, Mixins } from 'vue-property-decorator';
import { MarkerMixins } from '@/libs/mixins';

@Component({})
export default class Editor extends Mixins(MarkerMixins) {}
</script>

<style lang="scss">
@import '../styles/variables.scss';

.marker .editor {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.marker .editor__container {
  margin: 0;
  font-family: $font-family-main;
  font-variant-ligatures: no-common-ligatures;
  white-space: pre-wrap;
  word-break: break-word;
  word-wrap: break-word;
  padding: 10px;

  * {
    line-height: $line-height-base;
  }

  .editor-section {
    font-family: inherit;
  }

  .hide {
    display: none;
  }

  &.monospaced {
    font-family: $font-family-monospace !important;
    font-size: $font-size-monospace !important;

    * {
      font-size: inherit !important;
    }
  }
}
</style>
