<template>
  <div class="find-replace" @keydown.esc.stop="onEscape">
    <button class="find-replace__close-button button not-tabbable" @click="close" v-title="'Close'">
      <i class="marker-font icon-close"></i>
    </button>
    <div class="find-replace__row">
      <input type="text" class="find-replace__text-input text-input" ref="findInput" @keydown.enter="find('forward')" v-model="findText">
      <div class="find-replace__find-options">
        <button class="button find-replace__button find-replace__button--find-option" title="Case sensitive"
                :class="{'find-replace__button--on': caseSensitive}" @click="caseSensitive = !caseSensitive">
          <i class="marker-font icon-case-sensitive"></i>
        </button>
        <button class="button find-replace__button find-replace__button--find-option" title="Regular expression"
                :class="{'find-replace__button--on': useRegexp}" @click="useRegexp = !useRegexp">
          <i class="marker-font icon-regex"></i>
        </button>
      </div>
      <div class="find-replace__find-stats">
        {{findPosition}} of {{findCount}}
      </div>
      <div class="find-replace__cursor-nav">
        <button class="button find-replace__button" @click="find('backward')" title="Previous">
          <i class="marker-font icon-previous"></i>
        </button>
        <button class="button find-replace__button" @click="find('forward')" title="Next">
          <i class="marker-font icon-next"></i>
        </button>
      </div>
    </div>
    <div class="find-replace__row" v-if="type === 'replace'">
      <input type="text" class="find-replace__text-input text-input" ref="replaceInput" @keydown.enter="replaceAt" v-model="replaceText">
      <div class="find-replace__replace-btns">
        <button class="find-replace__button button" @click="replaceAt" title="Repalce">
          <i class="marker-font icon-replace"></i>
        </button>
        <button class="find-replace__button button" @click="replaceAll" title="Replace All">
          <i class="marker-font icon-replace-all"></i>
        </button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch, Mixins } from 'vue-property-decorator';
import { mapState } from 'vuex';

import { debounce } from '@/core/utils';
import { CORE_CONTENT_CHANGED } from '@/core/events';
import { MarkerMixins } from '@/libs/mixins';
import { DynamicClassApplier, TickCaller } from '@/libs/classAppliers';

function accessor(fieldName: string) {
  return {
    get(this: FindReplace) {
      return this.$store.state.FindReplace![fieldName];
    },
    set(this: FindReplace, value: string) {
      this.$store.commit('FindReplace/setState', { [fieldName]: value });
    },
  };
}

type ClassAppliers = {
  [key: string]: DynamicClassApplier
};

@Component({
  computed: {
    ...mapState('FindReplace', [
      'type',
      'lastOpen',
    ]),
    findText: accessor('findText'),
    replaceText: accessor('replaceText'),
    caseSensitive: accessor('caseSensitive'),
    useRegexp: accessor('useRegexp'),
  },
})
export default class FindReplace extends Mixins(MarkerMixins) {
  findCount = 0;
  findPosition = 0;
  classAppliers: ClassAppliers = {};

  selectedClassApplier?: DynamicClassApplier;
  state!: string;

  type!: string;
  lastOpen!: string;
  findText!: string;
  replaceText!: string;
  searchRegex!: RegExp | string;
  useRegexp!: boolean;
  replaceRegex!: RegExp;
  caseSensitive!: boolean;

  [key: string]: any;

  // Highlight occurences
  debouncedHighlightOccurrences = debounce(
    () => this.highlightOccurrences(),
    25,
  );

  tickCaller!: TickCaller;

  created() {
    this.tickCaller = new TickCaller(this.$editor);
  }

  mounted() {
    // Refresh highlighting when content changes
    this.$editor.doWhenInited(() => {
      this.$editor.core.$events.$on(CORE_CONTENT_CHANGED, this.debouncedHighlightOccurrences);
    });

    // Refresh highlighting when find text changes or changing options
    this.$watch(() => this.findText, this.debouncedHighlightOccurrences);
    this.$watch(() => this.caseSensitive, this.debouncedHighlightOccurrences);
    this.$watch(() => this.useRegexp, this.debouncedHighlightOccurrences);

    // Last open changes trigger focus on text input and find occurence in selection
    this.$watch(
      () => this.lastOpen,
      () => {
        const ele = this.$refs[`${this.type}Input`] as HTMLInputElement;
        ele.focus();
        ele.setSelectionRange(0, this[`${this.type}Text`].length);
        // Highlight and find in selection
        this.state = '';
        this.debouncedHighlightOccurrences();
      },
      { immediate: true },
    );

    window.addEventListener('keyup', this.onKeyup.bind(this));
    window.addEventListener('focusin', this.onFocusIn.bind(this));
  }

  destroyed() {
    // Unregister listeners
    this.$editor.core.$events.$on(CORE_CONTENT_CHANGED, this.debouncedHighlightOccurrences);

    window.removeEventListener('keyup', this.onKeyup.bind(this));
    window.removeEventListener('focusin', this.onFocusIn.bind(this));

    this.state = 'destroyed';
    this.debouncedHighlightOccurrences();
  }

  highlightOccurrences() {
    const oldClassAppliers: ClassAppliers = {};
    Object.entries(this.classAppliers).forEach(([, classApplier]) => {
      const newKey = `${classApplier.startMarker.offset}:${classApplier.endMarker.offset}`;
      oldClassAppliers[newKey] = classApplier;
    });
    const offsetList: { start: number, end: number }[] = [];
    this.classAppliers = {};

    if (this.state !== 'destroyed' && this.findText) {
      try {
        this.searchRegex = this.findText;
        if (!this.useRegexp) {
          this.searchRegex = this.searchRegex.replace(/[-[\]/{}()*+?.\\^$|]/g, '\\$&');
        }
        this.replaceRegex = new RegExp(this.searchRegex, this.caseSensitive ? 'm' : 'mi');
        this.searchRegex = new RegExp(this.searchRegex, this.caseSensitive ? 'gm' : 'gmi');
        this.$editor.core.getContent().replace(this.searchRegex, (substring: string, ...params: any[]) => {
          const offset = params[params.length - 2];
          offsetList.push({
            start: offset,
            end: offset + substring.length,
          });
          return substring;
        });
        offsetList.forEach((offset, i) => {
          const key = `${offset.start}:${offset.end}`;
          this.classAppliers[key] = oldClassAppliers[key] || new DynamicClassApplier(
            this.$editor,
            this.tickCaller,
            'find-replace-highlighting',
            offset,
            i > 200,
          );
        });
      } catch (e) {
        // Ignore
      }
      if (this.state !== 'created') {
        this.find('selection');
        this.state = 'created';
      }
    }

    Object.entries(oldClassAppliers).forEach(([key, classApplier]) => {
      if (!this.classAppliers[key]) {
        classApplier.clean();
        if (classApplier === this.selectedClassApplier!) {
          this.selectedClassApplier.child!.clean();
          this.selectedClassApplier = undefined;
        }
      }
    });
    this.findCount = offsetList.length;
  }

  unselectClassApplier() {
    if (this.selectedClassApplier) {
      this.selectedClassApplier.child!.clean();
      this.selectedClassApplier.child = undefined;
      this.selectedClassApplier = undefined;
    }
    this.findPosition = 0;
  }

  find(mode = 'forward') {
    const { selectedClassApplier } = this;
    this.unselectClassApplier();
    const { selectionMgr } = this.$editor.core;
    const startOffset = Math.min(selectionMgr.selectionStart, selectionMgr.selectionEnd);
    const endOffset = Math.max(selectionMgr.selectionStart, selectionMgr.selectionEnd);
    const keys = Object.keys(this.classAppliers);

    const finder = (checker: Function) => (key: string) => {
      if (checker(this.classAppliers[key]) && selectedClassApplier !== this.classAppliers[key]) {
        this.selectedClassApplier = this.classAppliers[key];
        return true;
      }
      return false;
    };

    if (mode === 'backward') {
      this.selectedClassApplier = this.classAppliers[keys[keys.length - 1]];
      keys.reverse()
        .some(finder((classApplier: DynamicClassApplier) => classApplier.startMarker.offset <= startOffset));
    } else if (mode === 'selection') {
      keys.some(finder((classApplier: DynamicClassApplier) => classApplier.startMarker.offset === startOffset && classApplier.endMarker.offset === endOffset));
    } else if (mode === 'forward') {
      this.selectedClassApplier = this.classAppliers[keys[0]];
      keys.some(finder((classApplier: DynamicClassApplier) => classApplier.endMarker.offset >= endOffset));
    }

    if (!this.selectedClassApplier) {
      return;
    }

    selectionMgr.setSelectionStartEnd(
      this.selectedClassApplier.startMarker.offset,
      this.selectedClassApplier.endMarker.offset,
    );
    this.selectedClassApplier.child = new DynamicClassApplier(
      this.$editor,
      this.tickCaller,
      'find-replace-selection',
      { start: this.selectedClassApplier.startMarker.offset, end: this.selectedClassApplier.endMarker.offset },
    );

    selectionMgr.updateCursorCoordinates((this.$el.parentNode! as HTMLElement).clientHeight > 0);
    // Deduce the findPosition
    Object.keys(this.classAppliers).forEach((key, i) => {
      if (this.selectedClassApplier !== this.classAppliers[key]) {
        return false;
      }
      this.findPosition = i + 1;
      return true;
    });
  }

  replace() {
    if (this.searchRegex) {
      if (!this.selectedClassApplier) {
        this.find();
        return;
      }
      this.$editor.core.replaceAll(
        this.replaceRegex,
        this.replaceText,
        this.selectedClassApplier.startMarker.offset,
      );
      this.$nextTick(() => this.find());
    }
  }

  replaceAll() {
    if (this.searchRegex) {
      this.$editor.core.replaceAll(this.searchRegex, this.replaceText);
    }
  }

  close() {
    this.$store.dispatch('FindReplace/close');
  }

  onEscape() {
    this.$editor.core.focus();
  }

  // Close on escape
  onKeyup(event: KeyboardEvent) {
    if (event.which === 27) {
      // Esc key
      this.$store.commit('FindReplace/setState', { type: '' });
    }
  }

  // Unselect class applier when focus is out of the panel
  onFocusIn() {
    if (!this.$el.contains(document.activeElement)) {
      setTimeout(() => this.unselectClassApplier(), 15);
    }
  }
}
</script>

<style lang="scss">
@import '~@/styles/variables.scss';

.find-replace {
  padding: 0 25px 0 20px;
}

.find-replace__row {
  margin: 10px 0;
}

.find-replace .find-replace__button {
  margin: 5px 0;
  font-size: 16px;
  padding: 0 5px;
  line-height: 20px;
  height: 30px;

  &:hover {
    background: $find-replace-button-bg;
  }
}

.find-replace__find-options {
  display: inline-block;
  position: absolute;
  left: 216px;
}

.find-replace__cursor-nav {
  display: inline-block;
  float: right;
}

.find-replace .find-replace__button--find-option {
  padding: 0;
  margin-left: 3px;
  width: 28px;
  font-weight: 600;
  letter-spacing: -0.025em;
  color: rgba(0, 0, 0, 0.8);
  text-transform: none;
}

.find-replace .find-replace__button--on {
  background: $find-replace-button-bg;
}

.find-replace .find-replace__text-input {
  display: inline-block;
  border: 1px solid transparent;
  padding: 2px 5px;
  width: 250px;
  height: 32px;

  &:focus {
    border-color: $link-color;
  }
}

.find-replace__replace-btns {
  display: inline-block;
  float: right;
}

.find-replace__close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 25px;
  height: 25px;
  padding: 2px;
  color: rgba(0, 0, 0, 0.5);

  &:active,
  &:focus,
  &:hover {
    color: rgba(0, 0, 0, 0.75);
  }
}

.find-replace__find-stats {
  display: inline-block;
  text-align: right;
  font-size: 0.75em;
  opacity: 0.6;
  line-height: 40px;
  padding: 0 15px;
}

.find-replace-highlighting {
  background-color: $highlighting-color !important;
  color: $editor-color-light;
}

.find-replace-selection {
  background-color: $selection-highlighting-color;
}
</style>
