<template>
  <div class="marker" :class="[ userSettings.theme ? `marker--${userSettings.theme}` : '' ]">
    <div class="marker__panel marker__panel--main">
      <div class="marker__panel marker__panel--toolbar" v-show="showToolbar">
        <toolbar></toolbar>
      </div>
      <div class="marker__panel marker__panel--content">
        <div class="marker__panel marker__panel--editor" :class="{'marker__panel--no-width': !showEditor}">
          <editor ref="editor"></editor>
        </div>
        <div class="marker__panel marker__panel--button-bar" v-show="showEditor">
          <button-bar></button-bar>
        </div>
        <div class="marker__panel marker__panel--preview" :class="{'marker__panel--no-width': !showPreview}">
          <preview ref="preview"></preview>
        </div>
        <div class="marker__panel marker__panel--find-replace" v-if="showFindReplace && showEditor">
          <find-replace></find-replace>
        </div>
        <div class="marker__panel marker__panel--toc" v-show="showToc">
          <toc ref="toc"></toc>
        </div>
      </div>
      <div class="marker__panel marker__panel--status-bar" v-show="showStatusBar">
        <status-bar></status-bar>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch, Mixins } from 'vue-property-decorator';
import { mapState, mapGetters, mapActions } from 'vuex';
import merge from 'lodash/merge';

import { Editor } from '@/libs/editor/editor';
import { MarkerMixins } from '@/libs/mixins';
import { createStore } from '@/store';

import Toolbar from '@/components/Toolbar.vue';
import ButtonBar from '@/components/ButtonBar.vue';
import StatusBar from '@/components/StatusBar.vue';
import Preview from '@/components/Preview.vue';
import FindReplace from '@/components/FindReplace.vue';
import Toc from '@/components/Toc.vue';
import EditorComponent from '@/components/Editor.vue';

import '@/styles/main.scss';

@Component({
  store: createStore(),
  events: new Vue(),
  computed: {
    ...mapState([
      'light',
    ]),
    ...mapState('Layout', [
      'showToolbar',
      'showEditor',
      'showPreview',
      'showStatusBar',
      'showToc',
      'showFindReplace',
    ]),
    ...mapGetters('Layout', [
      'showEditor',
      'showPreview',
    ]),
  },
  components: {
    Editor: EditorComponent,
    Toolbar,
    ButtonBar,
    StatusBar,
    Preview,
    FindReplace,
    Toc,
  },
})
export default class Main extends Mixins(MarkerMixins) {
  showEditor!: boolean;
  editor!: Editor;

  @Prop({ type: String, default: '' })
  readonly content!: string;

  created() {
    this.editor = new Editor(
      this,
      this.$events,
      this.userSettings,
    );
  }

  mounted() {
    this.editor.init(
      (this.$refs.editor as Vue).$refs.editorEle as HTMLElement,
      (this.$refs.preview as Vue).$refs.previewEle as HTMLElement,
      (this.$refs.toc as Vue).$refs.tocEle as HTMLElement,
    );

    this.editor.applyContent(this.content);

    // Focus on the editor every time reader mode is disabled
    setTimeout(this.focusEditor.bind(this), 100);
    this.$watch(() => this.showEditor, this.focusEditor.bind(this));
  }

  focusEditor() {
    if (this.showEditor) {
      this.editor.core.focus();
    }
  }

  destroyed() {
    this.editor.deactiveSyncSelection();
  }
}
</script>

<style lang="scss">
@import '~@/styles/index.scss';
@import '~@/styles/variables';

.marker {
  width: 100%;
  height: 100%;
  text-align: left;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }
}

.marker__panel {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all .1s;
}

.marker__panel--no-width {
  width: 0;
}

.marker__panel--main {
  display: flex;
  flex-direction: column;
}

.marker__panel--content {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.marker__panel--toolbar {
  background-color: $toolbar-bg;
  height: $toolbar-height;
  min-height: $toolbar-height;
}

.marker__panel--status-bar {
  background-color: $status-bar-bg;
  height: $status-bar-height;
  min-height: $status-bar-height;
}

.marker__panel--editor {
  background-color: $editor-bg;
  flex-grow: 1;
}

.marker__panel--preview {
  flex-grow: 1;
}

.marker__panel--button-bar {
  width: $button-bar-width;
  min-width: $button-bar-width;
}


.marker__panel--preview,
.marker__panel--button-bar {
  background-color: $preview-bg;
  display: inline-block;
}

.marker__panel--find-replace {
  background-color: $find-replace-bg;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 460px;
  height: auto;
  border-top-right-radius: $border-radius-base;
}

.marker__panel--toc {
  width: 250px;
  min-width: 200px;
  max-width: 250px;
  right: 0;
  overflow-y: auto;
  background: $toc-bg;
}
</style>
