<template>
  <div class="preview">
    <div class="preview__scroller" @click="onClick">
      <div ref="previewEle" class="preview__container"></div>
    </div>
    <div v-if="onlyPreview" class="preview__corner">
      <button class="preview__button button" @click="toggleOnlyPreview" v-title="'Edit file'">
        <i class="marker-font icon-side-mode"></i>
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch, Mixins } from 'vue-property-decorator';
import { mapState, mapGetters } from 'vuex';

import { MarkerMixins } from '@/libs/mixins';
import { createToggler } from '@/store/modules/Layout';

const appUri = `${window.location.protocol}//${window.location.host}`;

@Component({
  computed: {
    ...mapState('Layout', [
      'onlyPreview',
    ]),
  },
  methods: {
    toggleOnlyPreview: createToggler<Preview>('onlyPreview'),
  },
})
export default class Preview extends Mixins(MarkerMixins) {
  onClick(event: MouseEvent) {
    let ele = (event.target as HTMLAnchorElement);
    while (ele !== this.$el) {
      if (ele.href && ele.href.match(/^https?:\/\//)
        && (!ele.hash || ele.href.slice(0, appUri.length) !== appUri)) {
        event.preventDefault();
        const wnd = window.open(ele.href, '_blank');
        if (wnd) wnd.focus();
        return;
      }
      ele = (ele.parentNode! as HTMLAnchorElement);
    }
  }
}
</script>

<style lang="scss">
@import '../styles/variables.scss';

$corner-size: 110px;

.preview,
.preview__scroller {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.preview__container {
  margin: 0;
  padding: 10px;
}

.preview__container > :first-child > :first-child {
  margin-top: 0;
}

.preview__corner {
  position: absolute;
  top: 0;
  right: 0;

  &::before {
    content: '';
    position: absolute;
    right: 0;
    border-top: $corner-size solid rgba(0, 0, 0, 0.075);
    border-left: $corner-size solid transparent;
    pointer-events: none;
  }
}

.preview__button {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  padding: 5px;
  color: $button-bar-button-color;

  &:active,
  &:focus,
  &:hover {
    color: rgba(0, 0, 0, 0.33);
    background-color: transparent;
  }
}
</style>
