<template>
  <div class="status-bar panel no-overflow">
    <div class="status-bar__block status-bar__block--left" v-if="showEditor">
      <span class="status-bar__block-name">
        Markdown
        <span v-if="textSelection">selection</span>
      </span>
      <span v-for="stat in textStats" :key="stat.id">
        <span class="status-bar__value">{{stat.value}}</span> {{stat.name}}
      </span>
      <span class="status-bar__value">Ln {{line}}, Col {{column}}</span>
    </div>
    <div class="status-bar__block status-bar__block--right">
      <span class="status-bar__block-name">
        HTML
        <span v-if="htmlSelection">selection</span>
      </span>
      <span v-for="stat in htmlStats" :key="stat.id">
        <span class="status-bar__value">{{stat.value}}</span> {{stat.name}}
      </span>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch, Mixins } from 'vue-property-decorator';
import { mapGetters } from 'vuex';
import { MarkerMixins } from '@/libs/mixins';
import { MEE_PREVIEW_CTX, MEE_PREVIEW_SELECTION_RANGE, MEE_SECTION_LIST, MEE_SELECTION_RANGE } from '@/libs/editor/editor';

class Stat {
  // @todo remove uid this.id = utils.uid()
  regex: RegExp;
  value: number = 0;

  constructor(
    public name: string,
    regex: string,
  ) {
    this.regex = new RegExp(regex, 'gm');
  }
}

@Component({
  computed: {
    ...mapGetters('Layout', [
      'showEditor',
    ]),
  },
})
export default class StatusBar extends Mixins(MarkerMixins) {

  textSelection = false;
  htmlSelection = false;
  line = 0;
  column = 0;

  textStats = [
    new Stat('bytes', '[\\s\\S]'),
    new Stat('words', '\\S+'),
    new Stat('lines', '\n'),
  ];

  htmlStats = [
    new Stat('characters', '\\S'),
    new Stat('words', '\\S+'),
    new Stat('paragraphs', '\\S.*'),
  ];

  mounted() {
    this.$events.$on(MEE_SECTION_LIST, () => this.computeText());
    this.$events.$on(MEE_SELECTION_RANGE, () => this.computeText());

    this.$events.$on(MEE_PREVIEW_CTX, () => this.computeHtml());
    this.$events.$on(MEE_PREVIEW_SELECTION_RANGE, () => this.computeHtml());
  }

  computeText() {
    setTimeout(() => {
      this.textSelection = false;
      let text = this.$editor.core.getContent();
      const beforeText = text.slice(0, this.$editor.core.selectionMgr.selectionEnd);
      const beforeLines = beforeText.split('\n');
      this.line = beforeLines.length;
      this.column = beforeLines.pop()!.length;

      const selectedText = this.$editor.core.selectionMgr.getSelectedText();
      if (selectedText) {
        this.textSelection = true;
        text = selectedText;
      }
      this.textStats.forEach(stat => {
        stat.value = (text.match(stat.regex) || []).length;
      });
    }, 10);
  }

  computeHtml() {
    setTimeout(() => {
      let text: string = '';
      if (this.$editor.previewSelectionRange) {
        text = `${this.$editor.previewSelectionRange}`;
      }

      this.htmlSelection = true;
      if (!text) {
        this.htmlSelection = false;
        text = this.$editor.previewCtx.text!;
      }

      if (text != null) {
        this.htmlStats.forEach(stat => {
          stat.value = (text.match(stat.regex) || []).length;
        });
      }
    }, 10);
  }
}
</script>

<style lang="scss">
@import "~@/styles/variables";

.status-bar {
  position: absolute;
  width: 100%;
  height: 100%;
  color: $status-bar-color;
  font-size: 12px;
}

.status-bar__block {
  margin: 0 10px;
}

.status-bar__block--left {
  float: left;
}

.status-bar__block--right {
  float: right;
}

.status-bar__value {
  font-weight: 600;
  margin-left: 5px;
}
</style>
