<template>
  <div class="toc">
    <div class="toc__mask" :style="{top: (maskY - 5) + 'px'}"></div>
    <div class="toc__inner" ref="tocEle"
         @mousedown="onTocEleMousedown" @mouseup="onTocEleMouseUp" @mouseleave="onTocEleMouseleave" @mousemove="onTocEleMousemove"></div>
  </div>
</template>

<script lang="ts">
import { Component, Mixins } from 'vue-property-decorator';
import { mapState } from 'vuex';
import { SectionInfo } from '@/libs/editor/editor';
import { MarkerMixins } from '@/libs/mixins';

@Component({
  computed: {
    ...mapState('Layout', [
      'showEditor',
    ]),
  },
})
export default class Toc extends Mixins(MarkerMixins) {
  maskY = 0;
  isMousedown = false;

  showEditor!: boolean;

  mounted() {
    // Change mask postion on scroll
    const updateMaskY = () => {
      const scrollPosition = this.$editor.getScrollPosition();
      if (scrollPosition) {
        const sectionInfo = this.$editor.previewCtxMeasured!.sectionInfoList![scrollPosition.sectionIdx];
        this.maskY = sectionInfo.tocDimension.startOffset + (scrollPosition.posInSection * sectionInfo.tocDimension.height);
      }
    };

    this.$nextTick(() => {
      this.$editor.editorEle.parentNode!.addEventListener('scroll', () => {
        if (this.showEditor) {
          updateMaskY();
        }
      });

      this.$editor.previewEle.parentNode!.addEventListener('scroll', () => {
        if (!this.showEditor) {
          updateMaskY();
        }
      });
    });
  }

  onTocEleMousedown(event: MouseEvent) {
    this.isMousedown = event.which === 1;
    this.onClick(event);
  }

  onTocEleMouseUp() {
    this.isMousedown = false;
  }

  onTocEleMouseleave() {
    this.isMousedown = false;
  }

  onTocEleMousemove(event: MouseEvent) {
    this.onClick(event);
  }

  onClick(event: MouseEvent) {
    if (!this.isMousedown) {
      return;
    }

    event.preventDefault();

    const y = event.clientY - (event.target! as HTMLElement).getBoundingClientRect().top;
    this.$editor.previewCtx.sectionInfoList!
      .some((sectionInfo: SectionInfo) => {
        if (y >= sectionInfo.tocDimension.endOffset) {
          return false;
        }
        const posInSection = (y - sectionInfo.tocDimension.startOffset)
          / (sectionInfo.tocDimension.height || 1);

        (this.$editor.editorEle.parentNode! as HTMLElement).scrollTop = sectionInfo.editorDimension.startOffset
          + (sectionInfo.editorDimension.height * posInSection);

        (this.$editor.previewEle.parentNode! as HTMLElement).scrollTop = sectionInfo.previewDimension.startOffset
          + (sectionInfo.previewDimension.height * posInSection);
        return true;
      });
  }
}
</script>

<style lang="scss">
  .toc__inner {
    position: relative;
    color: rgba(0, 0, 0, 0.67);
    cursor: pointer;
    font-size: 9px;
    margin: 10px 0;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    * {
      font-weight: inherit;
      pointer-events: none;
    }
    .toc-section {
      padding: 0 20px;

      * {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin: 0;
      }

      h1,
      h2 {
        &::after {
          display: none;
        }
      }
      h1 {
        padding: 1rem 0;
      }
      h2 {
        padding: 0.5em 0 0.5em 8px;
      }
      h3 {
        padding: 0.33em 0 0.33em 16px;
      }
      h4 {
        padding: 0.22rem 0 0.22em 24px;
      }
      h5 {
        padding: 0.11em 0 0.11em 32px;
      }
      h6 {
        padding: 0 0 0 40px;
      }
    }
  }

  .toc__mask {
    position: absolute;
    left: 0;
    width: 100%;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
  }
</style>
