<template>
  <nav class="toolbar toolbar--editor" :class="{'toolbar--light': light}">
    <div class="toolbar__block toolbar__block--left toolbar__block--edit-control-btn">
      <button class="button toolbar__button" @click="undo" v-title="'Undo'" :disabled="disableToolbar || !canUndo">
        <i class="marker-font icon-toolbar-undo"></i>
      </button>
      <button class="button toolbar__button" @click="redo" v-title="'Redo'" :disabled="disableToolbar || !canRedo">
        <i class="marker-font icon-toolbar-redo"></i>
      </button>
      <template v-for="button in pagedownButtons">
        <button class="button toolbar__button" :key="button.method" v-if="button.method" @click="pagedownClick(button.method)"
                v-title="button.titleWithShortcut" :disabled="disableToolbar">
          <i class="marker-font" :class="[button.iconClass]"></i>
        </button>
        <div class="toolbar__spacer" v-else :key="button.method"></div>
      </template>
    </div>
    <div class="toolbar__block toolbar__block--right toolbar__block--edit-control-btn">
      <button class="button toolbar__button" @click="toggleToc" v-title="'Table of content'">
        <i class="marker-font icon-toc"></i>
      </button>
    </div>
  </nav>
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch, Mixins } from 'vue-property-decorator';
import { mapState, mapGetters } from 'vuex';
import { MarkerMixins } from '@/libs/mixins';

import pagedownButtons from '@/conf/buttons';
import { createToggler } from '@/store/modules/Layout';
import { Settings } from '@/conf/settings';

// According to mousetrap
const mod = /Mac|iPod|iPhone|iPad/.test(navigator.platform) ? 'Meta' : 'Ctrl';

function getShortcut(settings: Settings, action: string) {
  let result = '';
  Object.entries(settings.shortcuts!)
    .some(([keys, method]) => {
      if (method !== action) {
        return result.length > 0;
      }

      result = keys.split('+').map(key => key.toLowerCase()).map(key => {
        if (key === 'mod') {
          return mod;
        }
        // Capitalize
        return key && `${key[0].toUpperCase()}${key.slice(1)}`;
      }).join('+');

      return result.length > 0;
    });
  return result && ` – ${result}`;
}

@Component({
  computed: {
    ...mapState([
      'light',
      'canUndo',
      'canRedo',
    ]),
    ...mapGetters('Layout', [
      'disableToolbar',
    ]),
  },
  methods: {
    toggleToc: createToggler<Toolbar>('showToc'),
  },
})
export default class Toolbar extends Mixins(MarkerMixins) {
  isMounted = false;
  titleFocus = false;
  titleHover = false;

  get pagedownButtons() {
    return pagedownButtons.map(button => ({
      ...button,
      titleWithShortcut: `${button.title}${getShortcut(this.userSettings, button.method!)}`,
      iconClass: `icon-${button.icon}`,
    }));
  }

  undo() {
    return this.$editor.core.undoMgr.undo();
  }

  redo() {
    return this.$editor.core.undoMgr.redo();
  }

  pagedownClick(name: string) {
    this.$editor.pagedownEditor.uiManager.doClick(name);
  }
}
</script>

<style lang="scss">
@import '../styles/variables.scss';

.toolbar {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.toolbar__block {
  margin-left: 10px;
  margin-right: 10px;
}

.toolbar__block--left {
  float: left;
}

.toolbar__block--right {
  float: right;
}

.toolbar__block--edit-control-btn {
  margin-left: 15px;
  margin-top: 7px;

  .toolbar__button,
  .toolbar__spacer {
    float: left;
  }
}

.toolbar__button,
.toolbar__spacer {
  height: 36px;
  padding: 0 4px;
}

.toolbar__button--revision {
  width: 38px;

  &:first-child {
    margin-left: 10px;
  }

  &:last-child {
    margin-right: 10px;
  }
}

.toolbar__button--restore {
  width: auto;
}

.toolbar__button--sync,
.toolbar__button--publish {
  padding: 0 6px;
  margin: 0 5px;
}

.toolbar__button[disabled] {
  &,
  &:active,
  &:focus,
  &:hover {
    color: $toolbar-button-color;
  }
}

.toolbar__button {
  width: 34px;
  padding: 0 7px;
  transition: all 0.25s;
  margin-bottom: 0;
  display: inline-block;
  color: $toolbar-button-color;
  background-color: transparent;

  &:active,
  &:focus,
  &:hover {
    color: $toolbar-button-hover-color;
    background-color: $toolbar-button-hover-bg;
  }
}

.toolbar__button--location {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  padding: 2px;
  margin-top: 8px;
  opacity: 0.5;
  background-color: rgba(255, 255, 255, 0.2);

  &:active,
  &:focus,
  &:hover {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.toolbar__button--blink {
  animation: blink 1s linear infinite;
}

.toolbar__button--revision {
  display: inline-block;
}

.toolbar__button--close {
  color: lighten($link-color, 15%);

  &:active,
  &:focus,
  &:hover {
    color: lighten($link-color, 25%);
  }
}

$r: 10px;
$d: $r * 2;
$b: $d/10;
$t: 3000ms;

.toolbar__spinner {
  width: 24px;
  margin: 7px 0 0 8px;

  .icon {
    width: 24px;
    height: 24px;
    color: transparentize($error-color, 0.5);
  }
}

.spinner {
  width: $d;
  height: $d;
  display: block;
  position: relative;
  border: $b solid transparentize($toolbar-button-color, 0.5);
  border-radius: 50%;
  margin: 2px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    display: block;
    width: $b;
    background-color: $toolbar-button-color;
    border-radius: $b * 0.5;
    transform-origin: 50% 0;
  }

  &::before {
    height: $r * 0.4;
    left: $r - $b * 1.5;
    top: 50%;
    animation: spin $t linear infinite;
  }

  &::after {
    height: $r * 0.6;
    left: $r - $b * 1.5;
    top: 50%;
    animation: spin $t/4 linear infinite;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}
</style>
